<h1>Welcome to Simon's "Reddit Clone" - Show</h1>

<%= link_to 'Create a new post', new_post_path %>

<br><br>

<strong>Post Title: </strong>
<%= @post.post_title %>
<br>
<strong>Post URL: </strong>
<%= @post.post_url %>
<br>
<strong>Post Count: </strong>
<%= @post.post_count %>
<br>
<br>
<br>
<%= link_to 'View all posts', posts_path %>