<!DOCTYPE html>
<html>
<head>
  <title>RedditClone</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

  <h1>Welcome to Simon's "Reddit Clone"</h1>

  <div id="search">
    <%= render :partial => 'posts/search' %>
  </div>
  <br>
  <%= link_to 'Create a new post', new_post_path %>
  <%= link_to 'View all posts', posts_path %>

</head>
<body>

<%= yield %>

</body>
</html>
